html,
body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #fc6767, #ec008c);
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}
